:host {
    form {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-bottom: 30px;

        mat-form-field {
            width: 32%;

            ::ng-deep .mat-form-field-suffix {
                top: 0;
            }
        }

        .shift-container {
            width: 100%;
            height: 300px;
            max-width: 100%;
            overflow: auto;

            table {
                width: 100%;
                margin-top: 20px;
                border: 1px solid rgba(0, 0, 0, .12);
            }
        }
    }

}
