<mat-dialog-content class="mat-typography">
    <ng-container *ngFor="let x of data">
        <h2 mat-dialog-title>Employee</h2>

        <form [formGroup]="employeeForm">
            <mat-form-field appearance="outline">
                <mat-label>Employee Name</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Employee Hourly Rate</mat-label>
                <input matInput formControlName="hourlyRate">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Employee Overtime Hourly Rate</mat-label>
                <input matInput formControlName="overtimeHourlyRate">
            </mat-form-field>
            <div class="shift-container">
                <b>Shifts</b>
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z0">

                    <!-- Employee Id Column -->
                    <ng-container matColumnDef="employeeId">
                        <th mat-header-cell *matHeaderCellDef> No.</th>
                        <td mat-cell *matCellDef="let element"> {{element.employeeId}} </td>
                    </ng-container>

                    <!-- Clock In Column -->
                    <ng-container matColumnDef="clockIn">
                        <th mat-header-cell *matHeaderCellDef> Clock In Time</th>
                        <td mat-cell *matCellDef="let element"> {{element.clockIn}} </td>
                    </ng-container>

                    <!-- Clock Out Column -->
                    <ng-container matColumnDef="clockOut">
                        <th mat-header-cell *matHeaderCellDef> Clock Out Time</th>
                        <td mat-cell *matCellDef="let element"> {{element.clockOut}} </td>
                    </ng-container>

                    <!-- Total Time Column -->
                    <ng-container matColumnDef="totalTime">
                        <th mat-header-cell *matHeaderCellDef> Total Time</th>
                        <td mat-cell *matCellDef="let element"> {{element.totalTime}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </form>
    </ng-container>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button [mat-dialog-close]="true" color="primary">Save</button>
    <button mat-stroked-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
