:host {
    form {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        mat-form-field {
            width: 32%;
        }

        .shift-container {
            width: 100%;
            height: 300px;
            max-width: 100%;
            overflow: auto;

            table {
                width: 100%;
                margin: 20px 0;
                border: 1px solid rgba(0, 0, 0, .12);
            }
        }
    }

    mat-divider {
        margin-bottom: 20px;
    }
}
