:host {
    mat-card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }

    table {
        width: 100%;

        //.mat-cell, .mat-header-cell {
        //    text-align: center;
        //}

        .mat-column-totalOvertimePaid {
            width: 130px;
        }
    }
}
