:host {
    mat-card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }

    mat-table {
        width: 100%;

        .mat-column-email {
            flex: 2;
        }

        .mat-column-id, .mat-column-select {
            flex: .4;
        }
    }
}
