:host {
    mat-card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }

    table {
        width: 100%;

        .mat-cell, .mat-header-cell {
            text-align: center;
        }

        .mat-column-email {
            width: 200px;
        }

        .mat-column-totalOvertimePaid {
            width: 170px;
        }
    }
}
