<mat-card>
    <span
    >To edit employees information, first select the employees and then
        click the Edit button.</span
    >
    <button mat-button mat-stroked-button (click)="openDialog()">
        <mat-icon>edit</mat-icon>
    </button>
</mat-card>

<mat-table [dataSource]="dataSource" class="mat-elevation-z4">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef>
            <mat-checkbox
                (change)="$event ? masterToggle() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()"
                [aria-label]="checkboxLabel()"
                color="primary"
            >
            </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
            <mat-checkbox
                (click)="$event.stopPropagation()"
                (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)"
                [aria-label]="checkboxLabel(row)"
                color="primary"
            >
            </mat-checkbox>
        </mat-cell>
    </ng-container>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.id }}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.email }}</mat-cell>
    </ng-container>

    <!-- Total Time Column -->
    <ng-container matColumnDef="totalClocked">
        <mat-header-cell *matHeaderCellDef>Total Time</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.totalClocked|number:'1.1-1' }} hr</mat-cell>
    </ng-container>

    <!-- Total Paid Column -->
    <ng-container matColumnDef="totalPaid">
        <mat-header-cell *matHeaderCellDef>Total Paid</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.totalPaid|number }} $</mat-cell>
    </ng-container>

    <!-- Total Overtime Paid Column -->
    <ng-container matColumnDef="totalOvertimePaid">
        <mat-header-cell *matHeaderCellDef>Total Overtime Paid</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.totalOvertimePaid|number }} $</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="selection.toggle(row)"
    ></mat-row>
</mat-table>
