/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

body {
    background: #f4f4f4;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    margin: 0;
}
